.loading-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.loading-image {
  display: block;
  width: 100px;
  margin: 15% auto 0; /* center horizontally and give top spacing */
}
