.NavigationLayoutContainer {
  width: 100vw;
  height: 100vh;
}

.NavigationLayoutTopBar {
  text-align: center;
  width: 100%;
  height: 8%; /* fixed navbar height */
  display: flex; /* enable flexbox */
  align-items: center; /* vertically center content */
  justify-content: space-between; /* optional: spread items horizontally */
}

