.NavigationContentContainer {
  text-align: center;
  width: 100%;
  height: 92%;
  display: flex;
}

.NavigationContent {
  /* Let content take remaining space and be allowed to shrink */
  flex: 1 1 auto;
  min-width: 0; /* allow flex children to shrink correctly */
  height: 100%;
  overflow: auto; /* scroll if content is too tall */
}
